body {      
   margin:0;
   font-size: 1.8em;
}

body>div>img:first-child{
  width:100%;
  height:100%;
}

a {
   text-decoration: none;
   color: #D70751;
}

cite {
   font-size: 0.5em;
}

blockquote{
   font-size: 0.8em;
}

.slide {
    display: block;
    width: 35em;
    border: #D70751 thick solid;  
    background-color: white;
    border-radius: 25px;
    -moz-border-radius:25px;
    padding: 1em;
}

.slide .image{ float:left; padding-right: 1.2em; }
.slide .image_right{ float:right; padding-left: 1.2em; }
.slide h1{ color: #D70751; margin-top:0; padding-top:0; }
.slide h2{ color: #D70751; }
.slide ul { list-style-image: url('../img/debian-bullet.png')}

#start {
   text-align: center;
   width: 600px;
}

#start h2 {
   text-align: center;   
   font-size: 1em;
}

#vetaqui-0 {
   height: 13em;  
}

#vetaqui-1 {
   text-align:center; 
   font-size: 2.2em; 
   width: 32em;
}

#ballxifres-0, .xifres {
   height:14em;
}

.xifres {   
   opacity: 0;   
   transition: opacity 1s, color 1s;
   -moz-transition: opacity 1s, color 1s; /* Firefox 4 */
   -webkit-transition: opacity 1s, color 1s; /* Safari and Chrome */
   -o-transition: opacity 1s, color 1s;
   background-color: transparent;      
}

.xifres.active {
    opacity:1;
    color: #D70751;
}

.xifres.past {
    opacity:1;
    color: #000;
}

#ballxifres-0>div>div, .xifres>div {
   position:absolute;
}

#cercaespirals-0, #cercaespirals-1 {
   width: 900px;   
}

#cercaespirals-1.future{
   visibility: hidden;
}

.espiralsimg div {
   text-align: center;
}

.espiral0 h2{
   color: #5775B1;
}

.espiral1 h2{
   color: #6BB427;
}

.espiral2 h2{
   color: #F2A438;
}

.espiral3 h2{
   color: #D44117;
}

#releases-0 {
   width: 38em;
}