body {      
   margin:0;
   font-size: 1.2em;
}

.slide {
    display: block;
    padding: 1em;
}

.slide ul {    
   list-style-image: url('../img/debian-bullet.png');
   list-style-position: inside;
}


.box{
   display: block;
   width: 45em;
   border: #D70751 thick solid;  
   background-color: white;
   border-radius: 25px;
   -moz-border-radius:25px;
   padding: 0em 1em 1em 1em;
   visibility: hidden;
}

.box h1{
   text-align: center;
   color: #D70751;
}

.box img{
   float:left;
   padding-right: 1em;
   padding-bottom: 1em;
}

.empty ul li, .empty p, .empty div{     
   font-size: 1.5em; 
}


#debian-qa-que-3 img, #debian-qa-que-4 img, #debian-qa-colaboro-1 img {
   float: none;
}

#debian-qa-colaboro-1 img{
   padding: 0 2.5em 0 2.5em;
}

.box.active, .box.past{
   visibility: visible;
}

#start {
   text-align: center;   
}

#debian-qa-0 h1, #debian-qa-que-0 h1, #debian-qa-colaboro-0 h1{
   font-size: 10em;   
}

#webgrafia {
   font-size: 0.8em;   
}

#end, #webgrafia{
   background: url("../img/debian.svg") no-repeat center center;
   width: 30em;
   font-size: 1.5em;   
   
}

table{
   margin:0 auto;
   border-collapse: collapse;
   }

th{
   text-align: left;
   font-size: 1em;
   padding:0 0.5em;
   margin:0;   
}
   
td{
   text-align: center;
   font-size: 1em;
   padding:0;
   margin:0;   
}

.box td img{
   float: none;
   padding: 0;
   
}
      