/* Following are the presentation styles -- edit away! */

body {background: #FFF; color: #000; font-size: 1.8em;}
:link, :visited {text-decoration: none; color: #00C;}
#controls :active {color: #88A !important;}
#controls :focus {outline: 1px dotted #227;}
h1, h2, h3, h4 {font-size: 80%; margin: 0; padding: 0; font-weight: inherit;}
ul, pre {margin: 0; line-height: 1em;}
html, body {margin: 0; padding: 0;}

blockquote, q {font-style: italic;}
blockquote {padding: 2em 2em 0.5em; margin: 0 1.5em 0.5em; font-size: 1em;}
blockquote p {margin: 0;}
blockquote i {font-style: normal;}
blockquote b {display: block; margin-top: 0.5em; font-weight: normal; font-size: smaller; font-style: normal;}
blockquote b i {font-style: italic;}
cite {font-size: 0.7em; text-align: right;}
p.cite {margin-top:1em;text-align: right;}

kbd {font-weight: bold; font-size: 1em;}
sup {font-size: smaller; line-height: 1px;}

.slide code {font-weight: bold; color: #533; font-size: 0.8em;}
.slide code.bad, code del {color: red;}
.slide code.old {color: silver;}
.slide pre {padding: 0; margin: 0.25em 0 0.5em 0.5em; color: #533; font-size: 90%;}
.slide pre code {display: block;}
.slide ul {margin-left: 250px; margin-right: 7%; list-style-image: url('img/debian-bullet.png')}
.slide li {margin-top: 0.75em; margin-right: 0; }
.slide ul ul {line-height: 1;margin-left: 2em;}
.slide ul ul li {font-size: 85%; list-style-image: url('img/debian-bullet.png');}
.slide img.leader {display: block; margin: 0 auto;}

div#header, div#footer { color: #AAB;
  font-family: Verdana, Helvetica, sans-serif;}
div#header {background: url(img/spacefun-bg-header.png)  repeat-x; 
  line-height: 1px;}
div#footer {background: url(img/spacefun-bg-header.png)  repeat-x; font-size: 0.5em; font-weight: bold; padding: 1em 0;}
#footer h1, #footer h2 {display: block; padding: 0 1em;}
#footer h2 {font-style: italic;}

#logoheader{ margin: 0.8em; visibility: hidden; }

div.long {font-size: 0.75em;}
.slide h1 {position: absolute; top: 0.4em; left: 87px; z-index: 1;
  margin: 0; padding: 0.3em 0 0 70px; white-space: nowrap;
  font: bold 150%/1em Helvetica, sans-serif; text-transform: capitalize;
  color: #DDE; }
.slide h2 {font-size: 120%;color: #b8123c; margin-top:1em; font-weight: bold;}
.slide h3 {font-size: 110%;color: #b8123c; margin-top:1em;}
h1 abbr {font-variant: small-caps;}

div#controls {position: absolute; left: 50%; bottom: 0;
  width: 50%;
  text-align: right; font: bold 0.9em Verdana, Helvetica, sans-serif;}
html>body div#controls {position: fixed; padding: 0 0 1em 0;
  top: auto;}
div#controls form {position: absolute; bottom: 0; right: 0; width: 100%;
  margin: 0; padding: 0;}
#controls #navLinks a {padding: 0; margin: 0 0.5em; 
  border: none; color: #779; 
  cursor: pointer;}
#controls #navList {height: 1em;}
#controls #navList #jumplist {position: absolute; bottom: 0; right: 0; background: #DDD; color: #227;}

#currentSlide {text-align: center; font-size: 0.5em; color: #449;}

#slide0 {padding-top: 3.5em; font-size: 90%; text-align:center; }
#slide0 h1 {position: static; margin: 1em 0 0; padding: 0;
   font: bold 2em Helvetica, sans-serif; white-space: normal;
   color: #000; background: transparent;}
#slide0 h2 {font: bold italic 1em Helvetica, sans-serif; margin: 0.25em;}
#slide0 h3 {margin-top: 1.5em; font-size: 0.8em;}
#slide0 h4 {margin-top: 0; font-size: 1em;}

ul.urls {list-style: none; display: inline; margin: 0;}
.urls li {display: inline; margin: 0;}
.note {display: none;}
.external {border-bottom: 1px dotted gray;}
html>body .external {border-bottom: none;}
.external:after {content: " \274F"; font-size: smaller; color: #77B;}

.incremental, .incremental *, .incremental *:after {color: #fff; visibility: visible;}
img.incremental {visibility: hidden;}
.slide .current {color: #b8123c;}

.slide .image, .slide .image2{ margin:0.5em 2em 0 0;}
.slide .image{ float:left; }
.slide .image2{ float:right; }

strong{ color: #b8123c;font-weight: normal;}
em{ color: #b8123c;}

#c01, #c02{ top:55%; left:10%; position: absolute;}
#c01{ z-index:1}
#c02{ z-index:2}

#s01, #s02{ top:55%; left:10%; position: absolute;}
#s01{ z-index:1}
#s02{ z-index:2}

/* diagnostics

li:after {content: " [" attr(class) "]"; color: #F88;}
 */