body {      
   margin:0;
   font-size: 1.2em;
}

.slide {
    display: block;
    padding: 1em;
}

.slide ul {    
   list-style-image: url('../img/debian-bullet.png');
   list-style-position: inside;
}


.box{
   visibility: hidden;
}

.box h1{
   text-align: center;
   color: #D70751;
}

.box img {
   padding-right: 1em;
   padding-bottom: 1em;
}

.box.active, .box.past{
   visibility: visible;
}

#start {
   text-align: center;  
   width: 20em; 
}

#community ul>li{
   padding-left: 170px;
}      
 
#community ul>li>ul>li{
   padding-left: 0px;
}     

#debconf{
   float:right;
}
      
#snooping ul>li{
   padding-left: 100px;
}  

#littlechanges {   
   width: 30em;
   text-align: center;
}

.items {   
   opacity: 0;   
   transition: opacity 1s, color 1s;
   -moz-transition: opacity 1s, color 1s; /* Firefox 4 */
   -webkit-transition: opacity 1s, color 1s; /* Safari and Chrome */
   -o-transition: opacity 1s, color 1s;
   background-color: transparent;      
}

.items.active {
    opacity:1;
    color: #D70751;
}

.items.past {
    opacity:1;
    color: #000;
}


#webgrafia {
   font-size: 0.8em;   
}

#end, #webgrafia{
   background: url("../img/debian.svg") no-repeat center center;
   width: 25em;
   font-size: 1.5em;   
}

#author {
   padding-top: 3em;
}

